*.pptx filter=lfs diff=lfs merge=lfs -text
*.pac filter=lfs diff=lfs merge=lfs -text
*.sel filter=lfs diff=lfs merge=lfs -text
*.odb_f filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.abq filter=lfs diff=lfs merge=lfs -text
*.odb filter=lfs diff=lfs merge=lfs -text
*.stt filter=lfs diff=lfs merge=lfs -text
*.mdl filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.prt filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
archives/solver_archive_20260924/chunks/*.xz filter=lfs diff=lfs merge=lfs -text
